/*Base*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*Fonts*/
@font-face {
  font-family: "fontawesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Layout*/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}

header {
  position: relative;
  z-index: 1;
}

footer {
  background: #897a4f;
  padding: 50px 0 144px;
}

a, button, input {
  outline: 0;
}

.non-padding { padding: 0; }
.non-padding-left { padding-left: 0; }
.non-padding-right { padding-right: 0; }

.non-padding { padding: 0; }
.non-padding-left { padding-left: 0; }
.non-padding-right { padding-right: 0; }

.non-margin { margin: 0; }
.non-margin-left { margin-left: 0; }
.non-margin-right { margin-right: 0; }

.wrap-content {
  position: relative;
}

/* Logo */
.logo-desktop {
  position: fixed;
  width: 50%;
  top: 0;
  left: 0;
}

.logo { width: 119px; }

.partner-logo { 
  display: table;
  width: 174px!important; 
  margin: auto;
}

/* Language */
.lang-mobile {
  display: none!important;
}

.lang-desktop {
  position: absolute;
  top: calc(25% - 10px);
  left: 138px;
  transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
}

.language {
  margin: 0;
  padding: 0;
}

.language > li { 
  display: inline-block;
  list-style-type: none; 
}

.language > li > a {
  position: relative;
  color: #fff;
  font-size: .83em;
  font-weight: 600;
  padding: 20px 6px;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
}

.language > li > a::after, 
.lang-mobile::after  {
  content: '';
  display: block;
  width: 1px;
  height: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  border-right: 1px solid #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.language > li:last-child > a::after,
.lang-mobile.last::after { 
  content: none;
}

/* Content Background */
.main-content-bck {
  position: relative;
  top: -1px;
  display: table;
  margin: auto;
  width: 100%;
  height: 768px;
  background-size: cover!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
}

.video-link { width: 100%; height: 100%; opacity: 0; }
.video-link #player { width: 100%; height: 100%; }

.main-content-bck .play-video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 56px;
  height: 56px;
  background-image: url('../img/play.png');
  background-size: contain!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.main-content-bck.video {
  cursor: pointer;
}

.main-content-bck.video:hover {
  opacity: .7;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.main-content-bck.top {
  background-position: center top!important;
} 

.main-content-bck.bottom {
  background-position: center bottom!important;
} 

.content-full-text {
  display: block;
  max-width: calc(100% - 30px)!important;
  margin: auto;
  margin-bottom: 106px!important;
  text-align: center;
}

.content-text-bottom, .content-text-center,
.content-text-top {
  position: absolute;
  width: 100%;
  bottom: 64px;
  left: 0;
  padding: 0 35px;
}

.content-text-center { 
  left: 50%;
  top: 50%;
  bottom: initial;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.content-text-top {
  left: 0;
  top: 42%;
  bottom: initial;
  padding: 0 128px;
  transform: translateY(-42%);
  -webkit-transform: translateY(-42%);
  -moz-transform: translateY(-42%);
  -ms-transform: translateY(-42%);
  -o-transform: translateY(-42%);
}

.content-text-bottom p, .content-text-center p,
.content-text-top p { 
  max-width: 267px;
  font-size: 3.46em;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 46px;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
}

.content-text-center p, .content-text-top p {  
  color: #897a4f;
  max-width: 450px;
  font-size: 4.85em;
  margin-bottom: 17px;
}

.content-text-top p {
  color: #fff;
  max-width: 475px;
}

.content-text-center .normal,
.content-text-top .normal {
  color: #005c8a;
  font-size: 1.46em;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5em;
}

.content-text-top .normal {
  color: #fff;
}

/*Component*/
/* Link Buttom */
.link-button, .link-button, .link-button, .link-button {
  color: #005c8a;
  font-size: 1.15em;
  font-weight: 400;
  padding: 12px 22px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  letter-spacing: 2px;
  background: #fff;
}

.link-button:hover, .link-button:active, .link-button:focus {
  opacity: .7;
  text-decoration: none;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.link-button .arrow {
  transform: scale(.5);
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
}

.image-area {
  overflow: hidden;
  width: 50%;
}

.image-area.left { float: left; }
.image-area.right { float: right; }
.image-area.percent-40 { width: calc(40% + 20px); }
.image-area.percent-60 { width: calc(60% - 20px); }

.image-area:hover > .image-zoom {
  width: 200%;
  background-position: center!important;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  cursor: pointer;
}

/* Slider */
.owl-parent .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: 0!important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.owl-parent .owl-nav .owl-prev,
.owl-parent .owl-nav .owl-next {
  margin: 0!important;
}

.owl-parent .owl-nav .owl-prev { 
  position: absolute;
  left: 0;
  top: 0;
}

.owl-parent .owl-nav .owl-next { 
  position: absolute;
  right: 0;
  top: 0;
}

.arrow-slider {
  width: 15px;
}

.title {
  color: #fff;
  font-size: 2.85em;
  font-weight: 700;
  margin-bottom: 9px;
}

.title.left { 
  float: left; 
  line-height: 1.2em;
}

.title-small {
  color: #fff;
  font-size: 1.46em;
  font-weight: 400;
  margin-bottom: 6px;
}

.fotter-text {
  color: #fff;
  font-size: .91em;
  margin-bottom: 0;
  padding-right: 64px;
}

.back-to-top {
  float: right;
  padding: 11px 31px;
  background: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

.back-to-top.mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;  
  transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -m-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
}

.back-to-top:hover {
  opacity: .7;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.back-to-top .arrow-top { 
  width: 16px;
  margin-left: 8px;
}

.back-to-top span {
  color: #897a4f;
  font-size: 1.15em;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
}

.contact-area {
  display: table;
  padding: 0 15px;
}

.contact-area .item {
  display: table-cell;
  vertical-align: middle;
}

.contact-area .item.left {
  width: 350px;
}

/*Customize*/
/* Navbar custom */
.navbar-custom {
  position: fixed;
  width: 50%;
  background: #897a4f;
  top: 0;
  right: 0;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
  position: relative;
  color: #fff;
  font-size: .73em;
  font-weight: 500;
  padding: 20px 15px;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
}

.navbar-custom .navbar-nav > li > a::after {
  content: '';
  display: block;
  width: 1px;
  height: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  border-right: 1px solid #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.navbar-custom .navbar-nav > li:last-child > a::after,
.navbar-custom .navbar-nav > .last > a::after {
  content: none;
}

.navbar-custom .navbar-nav > li > a:hover span, 
.navbar-custom .navbar-nav > li > a:focus span {
  color: #fff;
  text-decoration: underline;
}

.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-custom .navbar-nav {
  float: none;
  margin: auto;
  display: table;
}

.navbar-custom .navbar-brand {
  display: none;
  padding: 0;
  width: 49px;
  margin-left: 15px;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-custom .navbar-toggle:hover, 
.navbar-custom .navbar-toggle:focus {
  background-color: transparent;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  opacity: .7;
  background: transparent!important;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

/*Responsive*/
@media screen and (max-width: 1280px) {
  .content-text-top {
    left: 50%;
    top: 50%;
    bottom: initial;
    padding: 0 35px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 991px) {
  .logo-desktop, .lang-desktop {
    display: none;
  }

  .navbar-custom {
    width: 100%;
  }

  .navbar-custom .navbar-nav {
    float: right;
    margin: auto;
    display: table;
  }

  .navbar-custom .navbar-nav > li > a::after { 
    content: none;
  }

  .navbar-custom .navbar-brand { 
    display: inline-block;
  }

  .lang-mobile {
    display: inline-block!important;
  }

  .image-area {
    width: 100%;
  }

  .image-area:hover > .image-zoom {
    width: 100%;
  }

  .content-full-text {
    margin-bottom: 53px!important;
  }
}

@media screen and (max-width: 767px) {
  .navbar-custom .navbar-nav {
    display: table;
    float: none;
    margin: auto;
    margin-left: 0;
  }

  .logo {
    width: 100%;
  }

  .wrap-content {
    margin-top: 49px;
  }

  .navbar-custom .navbar-nav > li > a {
    padding: 10px 15px;
  }

  .contact-area .item {
    display: table;
    margin-bottom: 15px;
  }

  .contact-area .item:last-child {
    margin-bottom: 0;
  }

  .contact-area .item.left {
    width: 100%;
  }

  .title.left {
    margin-top: 9px;
  }

  .fotter-text { padding-right: 0; }
}

@media screen and (max-width: 767px) {
  .content-text-center p, .content-text-top p {  
    font-size: 3.85em;
  }

  .back-to-top span {
    display: none;
  }

  .back-to-top .arrow-top {
    margin: 0;
  }

  .back-to-top.mobile {
    display: block;
  }

  .back-to-top.dekstop {
    display: none;
  }

  .back-to-top {
    padding: 10px 11px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  footer {
    padding: 90px 0;
  }
}

@media screen and (max-width: 425px) {
  .hide-mb { display: none; }
  .content-full-text { max-width: 100%!important; }
}
